#!/bin/rc

. $PORTS/Mk/pkg.rc

rfork e

distfiles=()
if(! ~ $#WEBSOURCE 0)
	for(s in $WEBSOURCE){
		eval `{uriextract $"s}
		distfiles=($distfiles $local)
		rm -f /env/^(local remote)
	}

if(! ~ $#9PFILE 0)
	for(s in $9PFILE){
		eval `{uriextract $"s}
		distfiles=($distfiles $local)
		rm -f /env/^(local remote)
	}

if(! ~ $#9PDIR 0)
	for(s in $9PDIR){
		eval `{uriextract $"s}
		ddir=$DISTFILES/$PORTNAME/
		if(test -d $ddir){
			distfiles=($distfiles `{cd $ddir; lsr $local })
		}
		rm -f /env/^(local remove ddir)
	}

echo 'MYDISTFILES='^$"distfiles
